@page
@model IndexModel
@{
    ViewData["Title"] = "Password reset page";
}

<div class="text-center">
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" />
    </div>
    <div>
        <label for="password2">Repeat password</label>
        <input type="password" name="password2" />
    </div>       
    <input type="submit" value="Submit" />
</div>
